.contact{
    display: flex;
    flex-direction: column;
}
.contact .banner{
    background-image: url('../../assets/contact.jpg');
}

.contact__container{
    display: flex;
    justify-content: center;
    gap: 250px;
}
.contact__info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contact__form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.contact__form h2{
    font-family: var(--font-alt);
    font-weight: 600;
    color: var(--color-design);
    font-size: 40px;
    margin-bottom: 5px;
}
.contact__form hr{
    border: none;
    width: 80px;
    height: 5px;
    background-color: var(--color-design);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact__input{
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-family: var(--font-alt);
    font-size: 18px;
    font-weight: 500;
    color:#666;
    border-radius: 50px;
}
.contact__form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact__input:focus{
    border: 2px solid var(--color-design);
}
.contact__form button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-family: var(--font-alt);
    font-size: 18px;
    color: var(--color-white);
    gap: 10px;
    border: 2px solid var(--color-design);
    border-radius: 50px;
    background: var(--color-design);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.contact__form button:hover{
    background: transparent; 
}
.contact__form button img{
    height: 25px;
}
.contact__form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.contact__form-text p{
    font-size: 30px;
}
.contact__form a{
    text-decoration: none;
    font-family: var(--font-alt);
    font-weight: 600;
    color: var(--color-white);
    font-size: 30px;
    margin-bottom: 5px;
}

.contact__form a:hover{
    color: var(--color-design);
}

@media screen and (max-width:1100px){
    .contact__container{
        gap:50px;
    }
}
@media screen and (max-width:900px){
    .contact__container{
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media screen and (max-width:650px){
    .contact__form h2{
        font-size: 35px;
        font-weight: 500;
    }
    .contact__info .note__text h2{
        font-size: 35px;
        font-weight: 500;
    }
    .contact__input{
        width: 350px;
    }
}
